@import "../../../assets/scss/variables.scss";

.section-title {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 38px;
  text-align: center;
  border: $leatherColour solid 4px;
  color: $leatherColour;

  p {
    margin: 20px auto !important;
  }
}

.section-content {
  background-color: rgb(221, 221, 221);
}




