mat-card{
  max-width: 350px;
  margin-bottom: 25px;
  background-color: #C4AB9B;
}

p,a{
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}
a{
  font-size: 14px;
  color: black;
}
a:hover{
  color: white;
}
