<div class="col-md-12">
  <div class="blog-entry d-md-flex">
      <a [href]="this.article.articleUrl" target="_blank" class="img img-2"
          [ngStyle]="{'background-image': 'url(' + this.article.articleImgUrl +')'}">
      </a>
      <div class="text text-2 pl-md-4">
          <h3 class="mb-2">
            <a [href]="this.article.articleUrl" target="_blank">
              {{this.article.articleTitle}}
            </a>
          </h3>
          <div class="meta-wrap">
              <p class="meta">
                  <span><i class="icon-calendar mr-2"></i>{{this.article.articleDateCreated}}</span>
                  <span><i class="icon-comment2 mr-2"></i>{{this.article.commentsCount}}</span>
                  <span><i class="icon-thumb_up mr-2"></i>{{this.article.likesCount}}</span>
              </p>
              <div *ngFor="let category of this.article.articleCategories">
                <p class="meta-categories">
                  <span>
                    <a [routerLink]="['/category/' + category.categoryId]">
                      <i class="icon-folder-o mr-2"></i>{{category.categoryNameToDisplay}}
                    </a>
                  </span>
                </p>
              </div>
          </div>
          <div *ngIf="this.keywords && this.keywords.length > 0" class="tagcloud">
            <a class="tag-cloud-link" [routerLink]="['/keyword/' + this.keywords[0].keywordId]" >{{this.keywords[0].keywordSlug}}</a>
            <a class="tag-cloud-link" [routerLink]="['/keyword/' + this.keywords[1].keywordId]" >{{this.keywords[1].keywordSlug}}</a>
            <a class="tag-cloud-link" [routerLink]="['/keyword/' + this.keywords[2].keywordId]" >{{this.keywords[2].keywordSlug}}</a>
            <a class="tag-cloud-link" [routerLink]="['/keyword/' + this.keywords[3].keywordId]" >{{this.keywords[3].keywordSlug}}</a>
          </div>
          <p class="mt-2">
              <a style="border: 2px #48afee solid;" [routerLink]="['/details/' + this.article.articleId]"class="btn">
                See details<span class="ion-ios-arrow-down ml-2"></span>
              </a>
              <a [href]="this.article.articleUrl" target="_blank" class="btn">
                Read article <span class="ion-ios-arrow-forward ml-2"></span>
              </a>
          </p>
      </div>
  </div>
</div>
