<div class="row">
  <h3 class="heading mr-5">Archive</h3>
  <div class="pull-right">
    <div ngbDropdown class="d-inline-block mt-1 ml-2">
      <button class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle>Year</button>
      <div ngbDropdownMenu aria-labelledby="dropdownYear">
        <button *ngFor="let group of this.articleArchiveGroups" ngbDropdownItem
          (click)="selectYear(group.key)">{{group.key}}</button>
      </div>
    </div>
    <div ngbDropdown class="d-inline-block mt-1 ml-2">
      <button class="btn btn-outline-secondary" id="dropdownBasic2" ngbDropdownToggle>Month</button>
      <div ngbDropdownMenu aria-labelledby="dropdownMonth">
        <button *ngFor="let archive of this.availableArchives" ngbDropdownItem
        (click)="selectMonth(archive.month)">{{archive.month}}</button>
      </div>
    </div>
  </div>
  <button (click)="openArchive(this.selectedMonth, this.selectedYear)" class="btn btn-primary ml-4">Show</button>
</div>
<router-outlet></router-outlet>
