<mat-toolbar class="wrapper">
  <div class="logo">
    <a [routerLink]="['/home']" [state]="{ categories: this.categories}">
      <img src="../../../assets/img/logo/logo-dark.jpg"/>
    </a>
  </div>
  <div class="toolbar-items">
    <button [routerLink]="['/home']" mat-button>Home</button>
    <button mat-button [matMenuTriggerFor]="menu">Categories</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let category of this.categories" [routerLink]="'/category/' + category.categoryId" routerLinkActive="active">
          {{category.categoryNameToDisplay}}
        </button>
    </mat-menu>
    <button mat-button>Archives</button>
    <button mat-button>Contact</button>
  </div>
</mat-toolbar>

