/* Master Stylesheet */
/* :: 1.0 Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
@import "./assets/scss/variables.scss";
/* :: 2.0 Import All CSS Plugins */


.mat-menu-panel {
  background-color: #B7B6B6;
  button {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 18px;
  }
}

.mat-tab-label-content{
  color: white;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 16px;
  letter-spacing: 1px;
}

.carousel-indicators li{
  height: 5px;
}

.mat-tab-header {
  background-color: $stormColour !important;
}

html, body { height: 100%; background-color: $moonColour;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
