<mat-card *ngIf="this.articleDetails">
  <mat-card-header>
    <p>{{this.articleDetails.articleTitle}}</p>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image [src]="this.articleDetails.articleImgUrl" default="assets/img/slides/default-4.jpeg" [alt]="this.articleDetails.articleTitle">
    <mat-chip-list>
      <mat-chip *ngFor="let keyword of this.articleDetails.articleKeywords">
        <a [routerLink]="['/keyword/' + keyword.keywordId]" (click)="handleRouteLink()">
          {{keyword.keywordSlug}}
        </a>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-actions>
    <a [href]="this.articleDetails.articleUrl"
      mat-button
      color="primary"
      isRoundButton="true">
        Read article
    </a>
    <button
      mat-button
      (click)="handleCloseButton()"
      color="warn">
      Close
    </button>
  </mat-card-actions>
</mat-card>
