<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/home']" routerLinkActive="active">Cybernews</a>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-4">
                Twitter
              </div>
              <div class="col-md-4">
                Facebook
              </div>
              <div class="col-md-4">
                Instagram
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let category of this.categories">
            <a [routerLink]="'/category/'+category.categorySlug" [state]="{'categoryId' : category.categoryId}" routerLinkActive="router-link-active" >
              <span>{{category.categoryNameToDisplay}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
