
.container-cybernews {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-wrap: nowrap;
}

nav{
  padding: 0;
}

.content {
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.footer {
  text-align: center;
  color: white;
  padding: 15px 0;
  margin-top: 20px;
  background-color: rgb(44, 44, 42);
}

.footer p{
  margin: 0;
}
