@import "../../../assets/scss/variables.scss";

.cards {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 60px;
  text-align: center;
  border: $leatherColour solid 4px;
  border-bottom: none;
  color: $leatherColour;
  padding: 50px 0;
}

.box{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards-list{
  flex:1;
  background-color: #dddddd;
  padding: 10px 20px;
}
