<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <app-news-slider sectionTitle="Latest"></app-news-slider>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <app-news-slider sectionTitle="Category 1"></app-news-slider>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <app-news-slider sectionTitle="Category 2"></app-news-slider>
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <app-news-slider sectionTitle="Category 3"></app-news-slider>
    </div>
    <div class="col-md-2">
    </div>
</div>